<template>
	<div class="container">
		<div class="example">
			<div class="example__container" v-for="(item,index) in example" :key="index">
				<template v-if="item.type === 'fraction'">
					<fraction :result="false"
							  @changeFraction="changeFraction($event,index)"
					/>
				</template>
				<template v-else>
					<math-sign :result="false"
							   @changeSing="changeSing($event,index)"
					/>
				</template>
			</div>
			<math-sign :result="true"/>
			<math-sign :result="true"
					   :minus = "true"
					   v-if="numeratorResult < 0"
			/>
			<fraction :result="true"
					  :numeratorProps="numeratorResult"
					  :denominatorProps="denominatorResult"
			/>
		</div>
		<button class="add-button" @click="addFraction">add fraction</button>
		<p v-if="errorEmpty"> Заполните все поля отличными от 0 цифрами</p>

	</div>
</template>

<script>
	import Fraction from "../components/fraction";
	import MathSign from "../components/mathSign";
	export default {
		name: "calculator",
		components: {MathSign, Fraction},
		data() {
			return {
				defaultFraction: {
					type: 'fraction',
					numerator: '',
					denominator: ''
				},
				defaultMathSing: {
					type: 'mathSing',
					sing: '+',
				},
				example: [],
				denominatorResult: '',
				numeratorResult: '',
				errorEmpty: true,
				supportExample: [],
			}
		},
		methods: {
			addFraction(){
				this.example.push(this.copy(this.defaultMathSing),this.copy(this.defaultFraction));
				this.calculation();
			},
			changeFraction(e,ind){
				this.example[ind].numerator = e.numerator;
				this.example[ind].denominator = e.denominator;
				this.calculation();
			},
			changeSing(e,ind){
				this.example[ind].sing = e;
				this.calculation();
			},
			checkEmptyValue(){
				let result = true;
				for(let i = 0; i<this.example.length; i++){
					if(this.example[i].type === 'fraction') {
						if(this.example[i].denominator === '' || this.example[i].numerator === '' ||
							this.example[i].denominator === 0 || this.example[i].numerator === 0 ) {
							result = false;
							this.numeratorResult = '';
							this.denominatorResult = '';
							break
						}
					}
				}
				this.errorEmpty = true;
				this.denominatorResult = '';
				return result
			},
			calculation(){
				if(this.checkEmptyValue()){
					this.supportExample.splice(0);
					this.errorEmpty = false;
					let multiplication = false;
					for(let i = 2; i<this.example.length; i= i+2){
						if (i === this.example.length -1){
							if(this.example[i-1].sing === '*' || this.example[i-1].sing === '/') {
								let newFraction;
								if(multiplication){
									newFraction = this.multiplication(this.supportExample[this.supportExample.length - 1],this.example[i],this.example[i-1].sing);
									this.supportExample.pop()
								} else newFraction = this.multiplication(this.example[i-2],this.example[i],this.example[i-1].sing);
								this.supportExample.push(newFraction);
								multiplication = true;
							} else {
								multiplication ?
									this.supportExample.push(this.copy(this.example[i-1]),this.copy(this.example[i])):
									this.supportExample.push(this.copy(this.example[i-2]),this.copy(this.example[i-1]),this.copy(this.example[i]));
								multiplication = false;
							}
						} else {
							if(this.example[i-1].sing === '*' || this.example[i-1].sing === '/') {
								let newFraction;
								if(multiplication){
									newFraction = this.multiplication(this.supportExample[this.supportExample.length - 1],this.example[i],this.example[i-1].sing)
									this.supportExample.pop();
								} else {
									newFraction = this.multiplication(this.example[i-2],this.example[i],this.example[i-1].sing);
								}
								this.supportExample.push(newFraction);
								multiplication = true;
							}
							else {
								multiplication ?
									this.supportExample.push(this.copy(this.example[i-1])):
									this.supportExample.push(this.copy(this.example[i-2]),this.copy(this.example[i-1]));
								multiplication = false;
							}
						}
					}
					if(this.supportExample.length === 1){
						this.numeratorResult = this.supportExample[0].numerator;
						this.denominatorResult = this.supportExample[0].denominator;
						return
					}

					let arrayDenominator = [];
					for(let i = 0; i<this.supportExample.length; i++){
						if(this.supportExample[i].type === 'fraction') {
							arrayDenominator.push( this.supportExample[i].denominator )
						}
					}

					let a = arrayDenominator[0];
					for (let i = 1; i < arrayDenominator.length; i++) {
						let b = arrayDenominator[ i ], c = a;
						while (a && b){
							a > b ? a %= b : b %= a;
						}
						a = c * arrayDenominator[ i ]/(a+b);
					}
					this.denominatorResult = a;
					this.supportExample.forEach(el=>{
						if(el.type === 'fraction') {
							let factor = this.denominatorResult / el.denominator;
							el.denominator = this.denominatorResult;
							el.numerator *= factor;
						}
					});
					this.simpleOperations();
				}

			},
			multiplication(elem1,elem2,sign){
				let result = {
					type: 'fraction',
					numerator: '',
					denominator: ''
				};
				if(sign === '*') {
					result.numerator = elem1.numerator * elem2.numerator;
					result.denominator = elem1.denominator * elem2.denominator;
				} else {
					result.numerator = elem1.numerator * elem2.denominator;
					result.denominator = elem1.denominator * elem2.numerator;
				}
				return result
			},
			simpleOperations(){
				let result = 0;

				for(let i = 0; i<this.supportExample.length; i++){
					if(this.supportExample[i].type === 'fraction') {
						if(i!== 0) {
							this.supportExample[i-1].sing === '+' ?
								result += this.supportExample[i].numerator :
								result -= this.supportExample[i].numerator
						}
						else result += this.supportExample[i].numerator
					}
				}
				this.numeratorResult = result
			},
			copy(jsonLikeObject){
				return JSON.parse(JSON.stringify(jsonLikeObject));
			}
		},
		created() {
			this.example.push(
					this.copy(this.defaultFraction),
					this.copy(this.defaultMathSing),
					this.copy(this.defaultFraction),
				);
		}
	}
</script>

<style scoped lang="sass">
	.example
		display: flex
		&__container
			display: flex
	.add-button
		background-color: transparent
		border: 1px solid #333
		padding: 7px 15px
		margin: 15px 0
		&:hover
			background-color: #aaa
</style>