<template>
	<div class="container">
		<div class="comments">
			<div class="comment" v-for="item in comments" :key="item.id"
			>
				<loading v-if="deleteElem.includes(item.id)"/>
				<div class="comment__title">
					{{item.comment}}
				</div>
				<div class="comment__button">
					<button @click="deleteComment(item.id)">удалить</button>
				</div>
			</div>
		</div>

	</div>
</template>

<script>
	import Loading from "../components/loading";
	export default {
		name: "listComments",
		components: {Loading},
		data() {
			return {
				comments: [],
				ws: '',
				deleteElem: [],
				wsConnect: false,
				timeOut: 10000
			}
		},
		methods: {
			openWsConnect(){
				this.ws = new WebSocket('ws://echo.websocket.org/');
				this.ws.onopen = () => this.wsConnect = true;
				this.ws.onclose =  (eventclose) => {
					this.wsConnect = false;
					if (!eventclose.wasClean) this.openWsConnect()
				}

				this.ws.onmessage = (msg) => {
					let id = Number(msg.data);
					this.comments = this.comments.filter(el => el.id !== id);
					this.deleteElem = this.deleteElem.filter(el => el !== id);
				}
			},
			deleteComment(id) {
				this.deleteElem.push(id);

				this.ws.send(id);
				setTimeout(() => {
					this.deleteElem = this.deleteElem.filter(el => el !== id);
				}, this.timeOut);

			},
		},
		destroyed(){
			if(this.wsConnect) this.ws.close();
		},
		created() {
			this.openWsConnect();
			this.$store.dispatch('loadServerComment').then((data)=>{
				data.forEach(el=>{
					this.comments.push(el)
				})
			});

		}
	}
</script>

<style scoped lang="sass">

	.comments
		display: flex
		width: 100%
		flex-direction: column
	.comment
		display: flex
		padding: 7px 15px
		align-items: center
		justify-content: space-between
		position: relative
		border: 1px solid #333
		margin: 5px 0
		width: 100%
</style>