<template>
	<div class="items">
		<div class="item item-border">
			<input type="text" v-model="numerator" @input="validNumber" :disabled="result">
		</div>
		<hr>
		<div class="item">
			<input type="text" v-model="denominator" @input="validNumber" :disabled="result">
		</div>

	</div>
</template>

<script>
	export default {
		name: "fraction",
		props: [
			'result',
			'numeratorProps',
			'denominatorProps'
		],
		data() {
			return {
				numerator: '',
				denominator: ''
			}
		},
		watch: {
			numeratorProps(){
				this.reduction();
			}
		},
		methods: {
			reduction(){
				if(this.numeratorProps !== '' && this.denominatorProps !== ''){
					let nodResult = this.nod(Math.abs(this.numeratorProps),Math.abs(this.denominatorProps));
					this.numerator = Math.abs(this.numeratorProps)/nodResult;
					this.denominator = Math.abs(this.denominatorProps)/nodResult;
				}else {
					this.numerator = '';
					this.denominator = '';
				}

			},
			nod(a,b){
				if (!b) {
					return a;
				}
				return this.nod(b, a % b);
			},
			validNumber(){
				this.numerator = this.numerator.replace(/[^0-9]/g, '');
				this.denominator = this.denominator.replace(/[^0-9]/g, '');
				this.$emit('changeFraction',{numerator: +this.numerator,denominator: +this.denominator})
			}
		},
		created() {
			if(this.numeratorProps){
				this.numerator = this.numeratorProps;
				this.denominator = this.denominatorProps;
			}
		}
	}
</script>

<style scoped lang="sass">
	.items
		width: 70px
		display: flex
		flex-direction: column
		align-items: center
	.item
		input
			padding: 7px
			text-align: center
			width: 60px
	hr
		width: 100%
		color: #000
</style>