<template>
	<div class="wrap">
		<div class="sing" @click="openSelectSing">
			{{activeSing}}
		</div>
		<div class="sings" v-if="visualSings">
			<div class="sings__item" @click="selectSing('+')">+</div>
			<div class="sings__item" @click="selectSing('-')">-</div>
			<div class="sings__item" @click="selectSing('*')">*</div>
			<div class="sings__item" @click="selectSing('/')">/</div>
		</div>
	</div>
</template>

<script>
	export default {
		name: "mathSign",
		props: ['result','minus'],
		data() {
			return {
				activeSing: '+',
				visualSings: false,
			}
		},
		methods: {
			openSelectSing(){
				if(!this.result) this.visualSings = true;
			},
			selectSing(e){
				this.activeSing = e;
				this.visualSings = false;
				this.$emit('changeSing',this.activeSing);
			}
		},
		created() {
			if(this.result) this.activeSing = '=';
			if(this.minus) this.activeSing = '-';
		}
	}
</script>

<style scoped lang="sass">
	.wrap
		display: flex
		position: relative
	.sing
		cursor: pointer
		font-size: 30px
		font-weight: 500
		height: 100%
		width: 50px
		display: flex
		align-items: center
		justify-content: center
	.sings
		width: 70px
		position: absolute
		background-color: #fff
		left: 50%
		transform: translateX(-50%)
		z-index: 2
		top: 0
		display: flex
		flex-wrap: wrap
		padding: 5px
		box-shadow: 0 0 5px 1px #555
		&__item
			width: 46%
			margin: 2%
			display: flex
			align-items: center
			justify-content: center
			padding: 5px
			border: 1px solid #333
			font-size: 22px
			font-weight: 500
			cursor: pointer
			&:hover
				background-color: #aaa

</style>