<template>
	<div id="App">
		<nav class="menu">
			<router-link class="menu__link"  exact-active-class="menu__link_active" to="/">comments</router-link>
			<router-link class="menu__link"  exact-active-class="menu__link_active" to="/calculator">calculator</router-link>
		</nav>
		<router-view/>
	</div>
</template>

<script>
	export default {
		name: "App"
	}
</script>

<style lang="sass">
	@import "styleSupport/default"
	.container
		max-width: 1200px
		margin: 0 auto
	.menu
		width: 100%
		display: flex
		justify-content: center
		align-items: center
		list-style-type: none
		&__link
			padding: 7px 15px
			text-decoration: none
			color: #333
		&__link_active
			text-decoration: underline
</style>